<!DOCTYPE html>
<html>
<head>
  <title>AjaxTypealong</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <%= javascript_include_tag 'ajax-typealong'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
