<h1 class="text-center">Product List</h1>
<!-- <button type="button" class="glyphicon glyphicon-plus" id="add_new"></button> -->

<table class="table">
   <thead>
     <tr>
       <th>Name</th>
       <th>Price</th>
       <th>Description</th>
       <th>Quantity</th>
       <th>Color</th>
       <th>Weight</th>
     </tr>
   </thead>
     <tbody id='products_list'>
 </table>
<hr>

<h1 class="text-center">Add Product Here</h1>
<hr>
<div class="container" align="center">
<form id="new_prodect_form">
  <label>Name</label>
  <input type="text" class="new_product" id="product_name" />
  <br>
  <label>Base Price</label>
  <input type="text" class="new_product" id="product_base_price" />
  <br>
  <label>Description</label>
  <input type="text" class="new_product" id="product_description" />
  <br>
  <label>Quantity</label>
  <input type="text" class="new_product" id="quantity_on_hand" />
  <br>
  <label>Color</label>
  <input type="text" class="new_product" id="color" />
  <br>
  <label>Weight</label>
  <input type="text" class="new_product" id="weight" />
  <br>
  <button type="button" id="new_button" class="btn btn-primary">Submit</button>
  

</form>
</div>


