<button class="btn btn-primary">bootstrap button</button>
<ul id="users_list">
</ul>




<hr/>
<h3 class="text-center">Add new user</h3>
<form action="/users" method="POST" id="add_user_form">
  <label>First name</label>
  <input type="text", class="input_button", id="first_name" placeholder="first name" />
  <br/>
  <label>Last Name</label>
  <input type="text", class="input_button", id="last_name" placeholder="last name" />
  </br>
  <label>Phine</label>
  <input type="text", class="input_button", id="phone_number" placeholder="phone" />
  </br>
<button class="btn btn-primary", type="button" id="add_user_button" >Submit</button>
</form>
