<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<ul id="users_list">
</ul>

<form action="/users" method='POST' id="new_user_form">

  <input type="text" id="first_name" required= "true" />
  <br />
  <input type="text" id="last_name" required= "true" />
  <br />
  <input type="phone" id="phone_number" />
  <br />
  <button type="button" id="new_user_button">Create User</button>
</form>