<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Mingle Me.com</h1>
    <p>Please sign up or log in with an existing account!!</p>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= login_path %>">Log in
        <span class = "glyphicon glyphicon-hand-up"></span>
      </a>
      <a class="btn btn-primary btn-lg" href="<%= signup_path %>">Sign Up
        <span class = "glyphicon glyphicon-hand-up"></span>
      </a>
    </p>
  </div>
</div>