<button type="button" id="background_button">Make it GREEN!</button>
<button type="button" class="slide">Click to toggle the div</button>
<div id="toggle" class="background-green">

  Lorem ipsum dolor sit amet, omittam delicata an est, in duo iuvaret nostrum, ea nec nominati consulatu. Illud dicat tation eos id. Sit accumsan delicata praesent ad, saepe graece iudicabit usu id. Laudem putant mea ex.

Dicunt recteque ex vix, his et antiopam platonem, veri dolorem noluisse ei mel. Corrumpit honestatis ut sed, meliore atomorum incorrupte vix id. Nam volutpat erroribus forensibus eu, nulla dolore copiosae cu mea. Quando dolores accusamus mel ne, his ex mucius perfecto. Cu sea aliquam expetendis, sea eu ubique feugait, novum comprehensam in eos.

Ex eripuit ceteros quo, ad quod ancillae periculis pro. Nulla altera philosophia vim in, qui legendos repudiare aliquando id. At qui posse zril. Id lorem errem duo. Mei nostrud corpora ei, movet probatus efficiantur ut qui.

No ridens inciderint vel. Et option offendit eam, cum causae sententiae ad. Sale vulputate in vim, mel solet euismod labores cu, ad amet quaestio eloquentiam nec. Per saepe semper petentium ei, cum id nonumy philosophia. Quo et exerci explicari.

Et nec hinc molestie, diam dolore vis id, ne postea oporteat sed. Et his probatus instructior, ad sea virtute equidem mandamus, vel enim dolores et. Est quando oporteat at, duo dolorem consulatu id, no illud conceptam mea. At nam prompta fuisset atomorum, te ocurreret adolescens mea.

</div>